<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion Animaux</title>
</head>

<body>
  <h1>Gestion Animaux</h1>
  <a href="/addAnimal" class="btn">Ajouter un nouveau Animal</a>
  <section>
    <% animalData.forEach((animal)=>{%>
      <div>
        <div class="animalInfo">
          <p>
            <%=animal.numICAD%>
          </p>
          <p>
            <%=animal.name%>
          </p>
          <p>
            <%=animal.sex%>
          </p>
          <div class="modifyAnimal">
            <a href="/editAnimal/<%=animal._id%>" class="btn">Modifier</a>
            <!-- delete contact button -->
            <form action="/delete-animal/<%=animal._id%>?_method=DELETE" method="POST">
              <!-- ** OBLIGATOIRE ** -->
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Supprimer" class="btn">
            </form>
          </div>
        </div>
        <% }) %>
  </section>
</body>

</html>